/*
	Note:
		+ Ctrl + K + C: comment
		+ Ctrl + K + U: undo comment
*/

--CREATE TABLE DULIEU(
--	id int IDENTITY(1,1) not null PRIMARY KEY,            
--    name nvarchar(100) not null,
--    location nvarchar(100) not null,
--    shortDescription nvarchar(100) not null,
--    fullDescription nvarchar(200) null,
--    imageUrl varchar(100) not null,
--    gallery varchar(100) null,
--    rating float not null,
--    features varchar(100) not null,
--    reviews varchar(100) null
--)


---- 1. Cố đô Huế
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Cố đô Huế', N'Thừa Thiên Huế', 
--N'Di sản văn hóa triều Nguyễn với cung điện và lăng tẩm cổ kính.', 
--N'Nơi lưu giữ giá trị kiến trúc vương triều cuối cùng của Việt Nam với Đại Nội và hệ thống lăng tẩm uy nghi bên dòng sông Hương.', 
--'https://images.pexels.com/photos/27418881/pexels-photo-27418881.jpeg', 
--'https://url-shortener.me/5DU3, https://url-shortener.me/5DU6', 4.8, 'History, Architecture', 'Very peaceful');

---- 2. Hà Giang
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Cao nguyên đá Đồng Văn', N'Hà Giang', 
--N'Vẻ đẹp hùng vĩ của cao nguyên đá và những cung đường đèo hiểm trở.', 
--N'Hà Giang nổi tiếng với đèo Mã Pì Lèng, dòng sông Nho Quế và những cánh đồng hoa tam giác mạch tuyệt đẹp mỗi độ thu về.', 
--'https://images.pexels.com/photos/33969972/pexels-photo-33969972.jpeg', 
--'https://url-shortener.me/5DUA, https://url-shortener.me/5DUC', 4.9, 'Adventure, Mountain', 'Amazing view');

---- 3. Thác Bản Giốc
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Thác Bản Giốc', N'Cao Bằng', 
--N'Thác nước tự nhiên lớn nhất Đông Nam Á tại biên giới Việt - Trung.', 
--N'Một tuyệt tác của thiên nhiên với những dòng nước đổ trắng xóa giữa núi rừng đại ngàn, tạo nên khung cảnh như trong tranh.', 
--'https://url-shortener.me/5DT1', 
--'https://url-shortener.me/5DUO', 4.7, 'Waterfall, Nature', 'Majestic');

---- 4. Quy Nhơn (Kỳ Co)
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Biển Kỳ Co', N'Bình Định', 
--N'Thiên đường biển xanh ngắt với bãi cát trắng mịn màng.', 
--N'Được ví như Maldives của Việt Nam, Kỳ Co mang vẻ đẹp hoang sơ với làn nước trong vắt nhìn thấy đáy và các rặng san hô màu sắc.', 
--'https://url-shortener.me/5DSZ', 
--'https://url-shortener.me/5DUU', 4.6, 'Beach, Relax', 'Crystal water');

---- 5. Gành Đá Đĩa
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Gành Đá Đĩa', N'Phú Yên', 
--N'Tuyệt tác địa chất với hàng nghìn cột đá lăng trụ kỳ thú.', 
--N'Những khối đá hình lục giác đen huyền xếp chồng lên nhau như những chồng đĩa khổng lồ ngay sát mép sóng biển.', 
--'https://cdn3.ivivu.com/2024/09/ganh-da-dia-ivivu-1.jpg', 
--'https://url-shortener.me/5DUZ', 4.7, 'Geology, Photo', 'Unique rocks');

---- 6. Rừng tràm Trà Sư
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Rừng tràm Trà Sư', N'An Giang', 
--N'Hệ sinh thái ngập mặn đặc trưng miền Tây mùa nước nổi.', 
--N'Trải nghiệm ngồi thuyền len lỏi giữa rừng tràm xanh ngắt và những thảm bèo tây mướt mắt, lắng nghe tiếng chim rừng.', 
--'https://static.vinwonders.com/production/2025/09/rung-tram-tra-su-mua-nuoc-noi.jpg', 
--'https://url-shortener.me/5DV7', 4.5, 'Eco, Boat', 'Green heaven');

---- 7. Bán đảo Sơn Trà
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Bán đảo Sơn Trà', N'Đà Nẵng', 
--N'Lá phổi xanh của thành phố biển với hệ động thực vật đa dạng.', 
--N'Nơi có tượng Phật Bà Quan Âm cao nhất Việt Nam, những cung đường biển uốn lượn và là nhà của loài Voọc chà vá chân nâu quý hiếm.', 
--'https://url-shortener.me/5DSU', 
--'https://url-shortener.me/5DVD', 4.8, 'Nature, Temple', 'Fresh air');

---- 8. Đảo Lý Sơn
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Đảo Lý Sơn', N'Quảng Ngãi', 
--N'Vương quốc tỏi với cảnh quan núi lửa hàng triệu năm tuổi.', 
--N'Hòn đảo hình thành từ trầm tích núi lửa, nổi tiếng với Cổng Tò Vò, đỉnh Thới Lới và những cánh đồng tỏi bạt ngàn.', 
--'https://static.vinwonders.com/production/dao-be-ly-son-2.jpg', 
--'https://url-shortener.me/5DVK', 4.6, 'Island, Volcano', 'Must visit');

---- 9. Chợ nổi Cái Răng
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Chợ nổi Cái Răng', N'Cần Thơ', 
--N'Nét văn hóa sông nước đặc sắc của người dân Nam Bộ.', 
--N'Cảnh buôn bán tấp nập trên sông vào sáng sớm với đủ loại trái cây nông sản, tạo nên không khí sôi động khó quên.', 
--'https://cdn3.ivivu.com/2024/09/cho-noi-cai-rang-iVIVU3.jpg', 
--'https://url-shortener.me/5DVM', 4.5, 'Culture, Market', 'Busy and fun');

---- 10. Bản Đôn
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Bản Đôn', N'Đắk Lắk', 
--N'Xứ sở của những chú voi và huyền thoại săn bắt voi rừng.', 
--N'Tìm hiểu văn hóa các dân tộc Tây Nguyên, băng qua những cây cầu treo bắc ngang dòng sông Sêrêpôk hùng vĩ.', 
--'https://upload.wikimedia.org/wikipedia/commons/1/1b/Srepok_Ban_Don.JPG', 
--'https://url-shortener.me/5DVQ', 4.4, 'Culture, Elephant', 'Historic');

---- 1. Vịnh Hạ Long
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Vịnh Hạ Long', N'Quảng Ninh', 
--N'Di sản thiên nhiên thế giới với hàng nghìn đảo đá vôi lớn nhỏ.', 
--N'Vịnh Hạ Long được UNESCO công nhận là Di sản Thiên nhiên Thế giới. Nổi tiếng với hàng nghìn hòn đảo đá vôi dựng đứng trên mặt nước biển xanh ngọc bích cùng hệ thống hang động kỳ vĩ.', 
--'https://url-shortener.me/5DY3', 'https://url-shortener.me/5DY4, https://url-shortener.me/5DY7, https://url-shortener.me/5DY9', 4.8, 'UNESCO World Heritage Site, Iconic view, Kayaking', N'Nguyen Van A: Canh dep tuyet voi');

---- 2. Phố Cổ Hội An
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Phố Cổ Hội An', N'Quảng Nam', 
--N'Thành phố cổ kính với những chiếc đèn lồng rực rỡ.', 
--N'Hội An giữ được gần như nguyên vẹn với hơn 1000 di tích kiến trúc từ phố xá, nhà cửa, hội quán, đình, chùa, miếu... mang đậm nét giao thoa văn hóa.', 
--'https://url-shortener.me/5DZN', 'https://url-shortener.me/5DZS, https://url-shortener.me/5DZV', 4.9, 'Ancient town, Historical, Pedestrian-friendly', N'Le Van C: Cao lau rat ngon');

---- 3. Đà Lạt
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Đà Lạt', N'Lâm Đồng', 
--N'Thành phố ngàn hoa với khí hậu mát mẻ quanh năm.', 
--N'Được mệnh danh là thành phố của mùa xuân vĩnh cửu. Với khí hậu ôn hòa, cảnh quan thơ mộng, những đồi thông bạt ngàn và những vườn hoa rực rỡ.', 
--'https://images.pexels.com/photos/895918/pexels-photo-895918.jpeg', 'https://url-shortener.me/5E0C', 4.7, 'City of Eternal Spring, Flowers, Fresh', NULL);

---- 4. Phong Nha - Kẻ Bàng
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Phong Nha - Kẻ Bàng', N'Quảng Bình', 
--N'Vương quốc hang động với hệ thống thạch nhũ tráng lệ.', 
--N'Nổi tiếng với các kiến tạo đá vôi, 300 hang động, các sông ngầm và hệ động thực vật quý hiếm bậc nhất thế giới.', 
--'https://url-shortener.me/5E0Z', 'https://url-shortener.me/5E11, https://url-shortener.me/5E15', 4.9, 'Stunning, Adventure, Cave systems', NULL);

---- 5. Phú Quốc
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Phú Quốc', N'Kiên Giang', 
--N'Đảo Ngọc với những bãi biển hoang sơ và hải sản tươi ngon.', 
--N'Phú Quốc là hòn đảo lớn nhất Việt Nam. Nơi đây sở hữu những bãi biển đẹp nhất thế giới như Bãi Sao, Bãi Dài cùng hệ sinh thái biển đa dạng.', 
--'https://url-shortener.me/5E1O', NULL, 4.8, 'Emerald Isle, Seafood, Tranquil', NULL);

---- 6. Sa Pa
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Sa Pa', N'Lào Cai', 
--N'Thị trấn trong sương với ruộng bậc thang hùng vĩ.', 
--N'Nằm ở vùng cao phía Tây Bắc, Sa Pa ẩn chứa nhiều điều kỳ diệu của tự nhiên với đỉnh Fansipan và nét văn hóa độc đáo của các dân tộc thiểu số.', 
--'https://url-shortener.me/5E27', NULL, 4.5, 'Local cuisine, Terraced fields, Ethnic minorities', NULL);

---- 7. Tràng An
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Tràng An', N'Ninh Bình', 
--N'Quần thể danh thắng được ví như Vịnh Hạ Long trên cạn.', 
--N'Khu du lịch sinh thái nằm trong Quần thể di sản thế giới Tràng An với hệ thống núi đá vôi có tuổi địa chất khoảng 250 triệu năm.', 
--'https://url-shortener.me/5E2E', NULL, 4.8, 'Karst landscapes, Winding waterways, Spiritual sites', NULL);

---- 8. Côn Đảo
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Côn Đảo', N'Bà Rịa - Vũng Tàu', 
--N'Thiên đường nghỉ dưỡng với những bãi biển hoang sơ.', 
--N'Nay đã trở thành thiên đường nghỉ dưỡng với những bãi tắm hoang sơ, làn nước trong xanh và hệ sinh thái đa dạng, mang đậm dấu ấn lịch sử.', 
--'https://url-shortener.me/5E2K', NULL, 4.7, 'Coral reefs, Turquoise water, Lighthouse, Idyllic', NULL);

---- 9. Mũi Né
--INSERT INTO DULIEU (name, location, shortDescription, fullDescription, imageUrl, gallery, rating, features, reviews)
--VALUES (N'Mũi Né', N'Bình Thuận', 
--N'Nổi tiếng với những đồi cát bay mênh mông và làng chài.', 
--N'Trung tâm du lịch nổi tiếng với những đồi cát rộng lớn, bãi biển thơ mộng và các hoạt động thể thao biển hấp dẫn.', 
--'https://url-shortener.me/5E30', NULL, 4.7, 'Golden Sand Dunes, Fairy Stream, Fishing Village', NULL);

